<?xml version="1.0"?>
<config>
    <modules>
        <Ometria_Core>
            <version>1.0.0</version>
        </Ometria_Core>
    </modules>

    <global>
        <blocks>
            <ometria>
                <class>Ometria_Core_Block</class>
            </ometria>
        </blocks>
        <models>
            <ometria>
                <class>Ometria_Core_Model</class>
            </ometria>
        </models>
        <helpers>
            <ometria>
                <class>Ometria_Core_Helper</class>
            </ometria>
        </helpers>
        <events>
            <catalog_product_delete_after>
                <observers>
                    <ometria_catalog_product_delete>
                        <type>singleton</type>
                        <class>ometria/observer_product</class>
                        <method>catalogProductDeleteAfter</method>
                    </ometria_catalog_product_delete>
                </observers>
            </catalog_product_delete_after>
            <catalog_product_save_after>
                <observers>
                    <ometria_catalog_product_save>
                        <type>singleton</type>
                        <class>ometria/observer_product</class>
                        <method>catalogProductSaveAfter</method>
                    </ometria_catalog_product_save>
                </observers>
            </catalog_product_save_after>
            <controller_action_predispatch_adminhtml_catalog_product_action_attribute_save>
                <observers>
                    <ometria_catalog_product_mass_action_update_attributes>
                        <type>singleton</type>
                        <class>ometria/observer_product</class>
                        <method>catalogProductUpdateAttributes</method>
                    </ometria_catalog_product_mass_action_update_attributes>
                </observers>
            </controller_action_predispatch_adminhtml_catalog_product_action_attribute_save>
            <controller_action_postdispatch_adminhtml_catalog_product_massStatus>
                <observers>
                    <ometria_catalog_product_mass_action_update_status>
                        <type>singleton</type>
                        <class>ometria/observer_product</class>
                        <method>catalogProductUpdateStatus</method>
                    </ometria_catalog_product_mass_action_update_status>
                </observers>
            </controller_action_postdispatch_adminhtml_catalog_product_massStatus>
            <sales_order_save_after>
                <observers>
                    <ometria_sales_order_save_after>
                        <type>singleton</type>
                        <class>ometria/observer_order</class>
                        <method>salesOrderSaveAfter</method>
                    </ometria_sales_order_save_after>
                </observers>
            </sales_order_save_after>
            <customer_save_after>
                <observers>
                    <ometria_customer_save_after>
                        <type>singleton</type>
                        <class>ometria/observer_customer</class>
                        <method>customerSaveAfter</method>
                    </ometria_customer_save_after>
                </observers>
            </customer_save_after>
            <checkout_cart_add_product_complete>
                <observers>
                    <checkout_cart_update_item_complete>
                        <type>singleton</type>
                        <class>ometria/observer_cart</class>
                        <method>basketUpdated</method>
                    </checkout_cart_update_item_complete>
                </observers>
            </checkout_cart_add_product_complete>
            <sales_quote_remove_item>
                <observers>
                    <ometria_sales_quote_remove_item>
                        <type>singleton</type>
                        <class>ometria/observer_cart</class>
                        <method>basketUpdated</method>
                    </ometria_sales_quote_remove_item>
                </observers>
            </sales_quote_remove_item>

            <customer_login>
                <observers>
                    <ometria_customer_login>
                        <type>singleton</type>
                        <class>ometria/observer_customer</class>
                        <method>loggedIn</method>
                    </ometria_customer_login>
                </observers>
            </customer_login>

            <customer_logout>
                <observers>
                    <ometria_customer_logout>
                        <type>singleton</type>
                        <class>ometria/observer_customer</class>
                        <method>loggedOut</method>
                    </ometria_customer_logout>
                </observers>
            </customer_logout>

            <customer_register_success>
                <observers>
                    <ometria_customer_register_success>
                        <type>singleton</type>
                        <class>ometria/observer_customer</class>
                        <method>registered</method>
                    </ometria_customer_register_success>
                </observers>
            </customer_register_success>

            <sales_order_place_after>
                <observers>
                    <ometria_sales_order_place_after>
                        <type>singleton</type>
                        <class>ometria/observer_cart</class>
                        <method>orderPlaced</method>
                    </ometria_sales_order_place_after>
                </observers>
            </sales_order_place_after>

            <newsletter_subscriber_save_before>
                <observers>
                    <ometria_newsletter_subscriber_save_before>
                        <class>ometria/observer_newsletter</class>
                        <method>handleSubscriberUpdate</method>
                    </ometria_newsletter_subscriber_save_before>
                </observers>
            </newsletter_subscriber_save_before>
            <newsletter_subscriber_delete_after>
                <observers>
                    <ometria_newsletter_subscriber_delete_after>
                        <class>ometria/observer_newsletter</class>
                        <method>handleSubscriberDeletion</method>
                    </ometria_newsletter_subscriber_delete_after>
                </observers>
            </newsletter_subscriber_delete_after>

        </events>
    </global>

    <frontend>
        <layout>
            <updates>
                <ometria>
                    <file>ometria/core.xml</file>
                </ometria>
            </updates>
        </layout>
        <routers>
            <ometria>
                <use>standard</use>
                <args>
                    <module>Ometria_Core</module>
                    <frontName>ometria</frontName>
                </args>
            </ometria>
        </routers>
    </frontend>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ometria before="Mage_Adminhtml">Ometria_Core</ometria>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <ometria>
                    <file>ometria/core.xml</file>
                </ometria>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <ometria>
                                            <title>Ometria Settings</title>
                                        </ometria>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

    <default>
        <ometria>
            <general>
                <enabled>0</enabled>
                <apikey></apikey>
            </general>
            <advanced>
                <univar>1</univar>
                <ping>1</ping>
                <scriptload>0</scriptload>
                <debug>0</debug>
                <productmode>id</productmode>
            </advanced>
        </ometria>
    </default>


    <phpunit>
        <suite>
            <modules>
                <Ometria_Core />
            </modules>
        </suite>
    </phpunit>
</config>
